:root {
    --light-field: #fafafa;
    --dark-field: #363538;
    --light-border: #737373;
    --dark-border: #9d9d9d;
    --light-text: #3d3d3d;
    --dark-text: #eee;
    --light-background: #fff;
    --dark-background: #1c1b22;
    --sepia-background: #f4ecd8;
    --sepia-menu: #fff;
    --popup-border: rgba(0, 0, 0, 0.45);
    --opaque-popup-border: #e0e0e0;
    --popup-shadow: rgba(49, 49, 49, 0.3);
    --grey-90-a10: rgba(12, 12, 13, 0.1);
    --grey-90-a20: rgba(12, 12, 13, 0.2);
    --grey-90-a30: rgba(12, 12, 13, 0.3);
    --grey-90-a80: rgba(12, 12, 13, 0.8);
    --grey-30: #94949E;
    --blue-40: #2994FF;
    --blue-40-a30: rgba(69, 161, 255, 0.3);
    --blue-40-a50: rgba(69, 161, 255, 0.5);
    --blue-40-a70: rgba(69, 161, 255, 0.7);
    --blue-60: #024db0;
    --purple-light: #cdc1ff;
    --purple: #765aea;
    --purple-dark: #4821e9;
    --button-height: 48px;
    --radius: 12px;
}

h1 {
    font-size: 1.6em;
    line-height: 1.25em;
}

h2 {
    font-size: 1.2em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    line-height: 1.66em;
}

html {
    height: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0px;
    height: 100%;
}
