:root {
    --dark: #202020;

    --xs: 4px;
    --s: 8px;
    --ms: 12px;
    --m: 16px;
    --ml: 20px;
    --l: 24px;
    --xl: 32px;
    --xxl: 48px;

    --rad: 6px;
}

h1 {
    font-size: 36px;
}

body {
    font-family: "Segoe UI", "San Francisco", "Arial", sans-serif;
}

p {
    line-height: 1.5rem;
}
