.file-input {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em min(10%, 500px);
}

.file-label {
    align-self: center;
}

.file-url {
    font-size: 18px;
    padding: 4px;
    border: 1px solid var(--popup-border);
}

.file-submit {
    font-size: 18px;
    background-color: var(--blue-40-a50);
    border: 1px solid var(--popup-border);
    padding: 0.5em 1em;
}

.file-submit:hover {
    background-color: var(--blue-40-a70);
}

.page-container-dark .file-submit {
    color: #eee;
}