/* General */
.root-page-container {
    height: 100%;
}

.page-container {
    margin: 0;
    padding: 0px 8px;
    min-height: 100%;
}

.landing-title {
    font-size: 36px;
    margin: 0;
    padding: 24px 0;
}

.hover-label {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 4px 8px;
    z-index: 1001;
}

.file-input {
    display: flex;
    flex-direction: column;
}

.file-label {
    align-self: center;
}

.file-url {
    font-size: 16px;
    padding: 4px;
    border: 1px solid var(--popup-border);
}

.file-submit {
    font-size: 16px;
    background-color: #edecf0;
    border: 1px solid var(--popup-border);
}

/* Light */
.page-container-light {
    background-color: #fff;
    color: #333;
}

.page-container-light a {
    color: var(--blue-60);
}

.page-container-light a:visited {
    color: #8a0161;
}

/* Dark */
.page-container-dark {
    background-color: rgb(28, 27, 34);
    color: #eee;
}

.page-container-dark a {
    color: #6fb5fc;
}

.page-container-dark a:visited {
    color: #e687fa;
}

/* Sepia */
.page-container-sepia {
    background-color: #f4ecd8;
    color: #5b4636;
}

.page-container-sepia a {
    color: var(--blue-60);
}

.page-container-sepia a:visited {
    color: #8a0161;
}