/* General */
.hover-label {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 4px 8px;
    z-index: 1001;
}

/* Font */
.page-container-serif {
    font-family: "Georgia", serif;
}

.page-container-sans-serif {
    font-family: "Helvetica", "Arial", sans-serif;
}

/* Light */

.page-container-light {
    background-color: #fff;
    color: #333;
}

.page-container-light a {
    color: var(--blue-60);
}

.page-container-light a:visited {
    color: #8a0161;
}


/* Dark */

.page-container-dark {
    background-color: rgb(28, 27, 34);
    color: #eee;
}

.page-container-dark a {
    color: #6fb5fc;
}

.page-container-dark a:visited {
    color: #e687fa;
}